i.material-icons{
  width: 40px; height: 40px;
  position: relative; display: inline-block; overflow: hidden;
  background-position: center; background-size: 60%; background-repeat: no-repeat;
}

i.material-icons.add{background-image: url('../img/system/icon/add.svg');}
i.material-icons.add-1{background-image:   url('../img/system/icon/add-1.svg');}
i.material-icons.add-2{background-image: url('../img/system/icon/add-2.svg');}
i.material-icons.add-3{background-image:   url('../img/system/icon/add-3.svg');}
i.material-icons.agenda{background-image: url('../img/system/icon/agenda.svg');}
i.material-icons.alarm{background-image:   url('../img/system/icon/alarm.svg');}
i.material-icons.alarm-1{background-image: url('../img/system/icon/alarm-1.svg');}
i.material-icons.alarm-clock{background-image:   url('../img/system/icon/alarm-clock.svg');}
i.material-icons.alarm-clock-1{background-image: url('../img/system/icon/alarm-clock-1.svg');}
i.material-icons.albums{background-image:   url('../img/system/icon/albums.svg');}
i.material-icons.app{background-image: url('../img/system/icon/app.svg');}
i.material-icons.app-plus{background-image:   url('../img/system/icon/app.svg');}
i.material-icons.archive{background-image: url('../img/system/icon/archive.svg');}
i.material-icons.archive-1{background-image:   url('../img/system/icon/archive-1.svg');}
i.material-icons.archive-2{background-image: url('../img/system/icon/archive-2.svg');}
i.material-icons.archive-3{background-image:   url('../img/system/icon/archive-3.svg');}
i.material-icons.attachment{background-image: url('../img/system/icon/attachment.svg');}
i.material-icons.back{background-image:   url('../img/system/icon/back.svg');}
i.material-icons.battery{background-image: url('../img/system/icon/battery.svg');}
i.material-icons.battery-1{background-image:   url('../img/system/icon/battery-1.svg');}
i.material-icons.battery-2{background-image: url('../img/system/icon/battery-2.svg');}
i.material-icons.battery-3{background-image:   url('../img/system/icon/battery-3.svg');}
i.material-icons.battery-4{background-image: url('../img/system/icon/battery-4.svg');}
i.material-icons.battery-5{background-image:   url('../img/system/icon/battery-5.svg');}
i.material-icons.battery-6{background-image: url('../img/system/icon/battery-6.svg');}
i.material-icons.battery-7{background-image:   url('../img/system/icon/battery-7.svg');}
i.material-icons.battery-8{background-image: url('../img/system/icon/battery-8.svg');}
i.material-icons.battery-9{background-image:   url('../img/system/icon/battery-9.svg');}
i.material-icons.binoculars{background-image: url('../img/system/icon/binoculars.svg');}
i.material-icons.blueprint{background-image:   url('../img/system/icon/blueprint.svg');}
i.material-icons.bluetooth{background-image: url('../img/system/icon/bluetooth.svg');}
i.material-icons.bluetooth-1{background-image:   url('../img/system/icon/bluetooth-1.svg');}
i.material-icons.bookmark{background-image: url('../img/system/icon/bookmark.svg');}
i.material-icons.bookmark-1{background-image:   url('../img/system/icon/bookmark-1.svg');}
i.material-icons.briefcase{background-image: url('../img/system/icon/briefcase.svg');}
i.material-icons.broken-link{background-image:   url('../img/system/icon/broken-link.svg');}
i.material-icons.calculator{background-image: url('../img/system/icon/calculator.svg');}
i.material-icons.calculator-1{background-image:   url('../img/system/icon/calculator-1.svg');}
i.material-icons.calendar{background-image: url('../img/system/icon/calendar.svg');}
i.material-icons.calendar-1{background-image:   url('../img/system/icon/calendar-1.svg');}
i.material-icons.calendar-2{background-image: url('../img/system/icon/calendar-2.svg');}
i.material-icons.calendar-3{background-image:   url('../img/system/icon/calendar-3.svg');}
i.material-icons.calendar-4{background-image: url('../img/system/icon/calendar-4.svg');}
i.material-icons.calendar-5{background-image:   url('../img/system/icon/calendar-5.svg');}
i.material-icons.calendar-6{background-image: url('../img/system/icon/calendar-6.svg');}
i.material-icons.checked{background-image:   url('../img/system/icon/checked.svg');}
i.material-icons.checked-1{background-image: url('../img/system/icon/checked-1.svg');}
i.material-icons.clock{background-image:   url('../img/system/icon/clock.svg');}
i.material-icons.clock-1{background-image: url('../img/system/icon/clock-1.svg');}
i.material-icons.close{background-image:   url('../img/system/icon/close.svg');}
i.material-icons.cloud{background-image: url('../img/system/icon/cloud.svg');}
i.material-icons.cloud-downloader{background-image:   url('../img/system/icon/cloud-downloader.svg');}
i.material-icons.cloud-up-down{background-image: url('../img/system/icon/cloud-up-down.svg');}
i.material-icons.cloud-uploader{background-image:   url('../img/system/icon/cloud-uploader.svg');}
i.material-icons.cloud-update{background-image: url('../img/system/icon/cloud-update.svg');}
i.material-icons.cloud-search{background-image:   url('../img/system/icon/cloud-search.svg');}
i.material-icons.cloud-alert{background-image: url('../img/system/icon/cloud-alert.svg');}
i.material-icons.command{background-image:   url('../img/system/icon/command.svg');}
i.material-icons.compact-disc{background-image: url('../img/system/icon/compact-disc.svg');}
i.material-icons.compact-disc-1{background-image:   url('../img/system/icon/compact-disc-1.svg');}
i.material-icons.compact-disc-2{background-image: url('../img/system/icon/compact-disc-2.svg');}
i.material-icons.compass{background-image:   url('../img/system/icon/compass.svg');}
i.material-icons.compose{background-image: url('../img/system/icon/compose.svg');}
i.material-icons.controls{background-image:   url('../img/system/icon/controls.svg');}
i.material-icons.controls-1{background-image: url('../img/system/icon/controls-1.svg');}
i.material-icons.controls-2{background-image:   url('../img/system/icon/controls-2.svg');}
i.material-icons.controls-3{background-image: url('../img/system/icon/controls-3.svg');}
i.material-icons.controls-4{background-image:   url('../img/system/icon/controls-4.svg');}
i.material-icons.controls-5{background-image: url('../img/system/icon/controls-5.svg');}
i.material-icons.controls-6{background-image:   url('../img/system/icon/controls-6.svg');}
i.material-icons.controls-7{background-image: url('../img/system/icon/controls-7.svg');}
i.material-icons.controls-8{background-image:   url('../img/system/icon/controls-8.svg');}
i.material-icons.controls-9{background-image:   url('../img/system/icon/controls-9.svg');}
i.material-icons.database{background-image:   url('../img/system/icon/database.svg');}
i.material-icons.database-1{background-image:   url('../img/system/icon/database-1.svg');}
i.material-icons.database-2{background-image:   url('../img/system/icon/database-2.svg');}
i.material-icons.database-3{background-image:   url('../img/system/icon/database-3.svg');}
i.material-icons.diamond{background-image:   url('../img/system/icon/diamond.svg');}
i.material-icons.diploma{background-image:   url('../img/system/icon/diploma.svg');}
i.material-icons.dislike{background-image:   url('../img/system/icon/dislike.svg');}
i.material-icons.favorote-off{background-image:   url('../img/system/icon/favorote-off.svg');}
i.material-icons.divide{background-image:   url('../img/system/icon/divide.svg');}
i.material-icons.divide-1{background-image:   url('../img/system/icon/divide-1.svg');}
i.material-icons.document{background-image:   url('../img/system/icon/document.svg');}
i.material-icons.divide-3{background-image:   url('../img/system/icon/divide-3.svg');}
i.material-icons.download{background-image:   url('../img/system/icon/download.svg');}
i.material-icons.edit{background-image:   url('../img/system/icon/edit.svg');}
i.material-icons.edit-1{background-image:   url('../img/system/icon/edit-1.svg');}
i.material-icons.eject{background-image:   url('../img/system/icon/eject.svg');}
i.material-icons.eject-1{background-image:   url('../img/system/icon/eject-1.svg');}
i.material-icons.equal{background-image:   url('../img/system/icon/equal.svg');}
i.material-icons.equal-1{background-image:   url('../img/system/icon/equal-1.svg');}
i.material-icons.equal-2{background-image:   url('../img/system/icon/equal-2.svg');}
i.material-icons.error{background-image:   url('../img/system/icon/error.svg');}
i.material-icons.exit{background-image:   url('../img/system/icon/exit.svg');}
i.material-icons.exit-1{background-image:   url('../img/system/icon/exit-1.svg');}
i.material-icons.exit-2{background-image:   url('../img/system/icon/exit-2.svg');}
i.material-icons.eyeglasses{background-image:   url('../img/system/icon/eyeglasses.svg');}
i.material-icons.fast-forward{background-image:   url('../img/system/icon/fast-forward.svg');}
i.material-icons.fast-forward-1{background-image:   url('../img/system/icon/fast-forward-1.svg');}
i.material-icons.fax{background-image:   url('../img/system/icon/fax.svg');}
i.material-icons.file{background-image:   url('../img/system/icon/file.svg');}
i.material-icons.file-1{background-image:   url('../img/system/icon/file-1.svg');}
i.material-icons.file-2{background-image:   url('../img/system/icon/file-2.svg');}
i.material-icons.film{background-image:   url('../img/system/icon/film.svg');}
i.material-icons.fingerprint{background-image:   url('../img/system/icon/fingerprint.svg');}
i.material-icons.flag{background-image:   url('../img/system/icon/flag.svg');}
i.material-icons.flag-1{background-image:   url('../img/system/icon/flag-1.svg');}
i.material-icons.flag-2{background-image:   url('../img/system/icon/flag-2.svg');}
i.material-icons.flag-3{background-image:   url('../img/system/icon/flag-3.svg');}
i.material-icons.flag-4{background-image:   url('../img/system/icon/flag-4.svg');}
i.material-icons.focus{background-image:   url('../img/system/icon/focus.svg');}
i.material-icons.folder{background-image:   url('../img/system/icon/folder.svg');}
i.material-icons.folder-1{background-image:   url('../img/system/icon/folder-1.svg');}
i.material-icons.folder-2{background-image:   url('../img/system/icon/folder-2.svg');}
i.material-icons.folder-3{background-image:   url('../img/system/icon/folder-3.svg');}
i.material-icons.folder-4{background-image:   url('../img/system/icon/folder-4.svg');}
i.material-icons.folder-5{background-image:   url('../img/system/icon/folder-5.svg');}
i.material-icons.folder-6{background-image:   url('../img/system/icon/folder-6.svg');}
i.material-icons.folder-7{background-image:   url('../img/system/icon/folder-7.svg');}
i.material-icons.folder-8{background-image:   url('../img/system/icon/folder-8.svg');}
i.material-icons.folder-9{background-image:   url('../img/system/icon/folder-9.svg');}
i.material-icons.folder-10{background-image:   url('../img/system/icon/folder-10.svg');}
i.material-icons.folder-11{background-image:   url('../img/system/icon/folder-11.svg');}
i.material-icons.folder-12{background-image:   url('../img/system/icon/folder-12.svg');}
i.material-icons.folder-13{background-image:   url('../img/system/icon/folder-13.svg');}
i.material-icons.folder-14{background-image:   url('../img/system/icon/folder-14.svg');}
i.material-icons.folder-15{background-image:   url('../img/system/icon/folder-15.svg');}
i.material-icons.folder-16{background-image:   url('../img/system/icon/folder-16.svg');}
i.material-icons.folder-17{background-image:   url('../img/system/icon/folder-17.svg');}
i.material-icons.folder-18{background-image:   url('../img/system/icon/folder-18.svg');}
i.material-icons.folder-19{background-image:   url('../img/system/icon/folder-19.svg');}
i.material-icons.gift{background-image:   url('../img/system/icon/gift.svg');}
i.material-icons.help{background-image:   url('../img/system/icon/help.svg');}
i.material-icons.hide{background-image:   url('../img/system/icon/hide.svg');}
i.material-icons.hold{background-image:   url('../img/system/icon/hold.svg');}
i.material-icons.home{background-image:   url('../img/system/icon/home.svg');}
i.material-icons.home-1{background-image:   url('../img/system/icon/home-1.svg');}
i.material-icons.home-2{background-image:   url('../img/system/icon/home-2.svg');}
i.material-icons.house{background-image:   url('../img/system/icon/house.svg');}
i.material-icons.id-card{background-image:   url('../img/system/icon/id-card.svg');}
i.material-icons.id-card-1{background-image:   url('../img/system/icon/id-card-1.svg');}
i.material-icons.id-card-2{background-image:   url('../img/system/icon/id-card-2.svg');}
i.material-icons.id-card-3{background-image:   url('../img/system/icon/id-card-3.svg');}
i.material-icons.id-card-4{background-image:   url('../img/system/icon/id-card-4.svg');}
i.material-icons.id-card-5{background-image:   url('../img/system/icon/id-card-5.svg');}
i.material-icons.idea{background-image:   url('../img/system/icon/idea.svg');}
i.material-icons.incoming{background-image:   url('../img/system/icon/incoming.svg');}
i.material-icons.infinity{background-image:   url('../img/system/icon/infinity.svg');}
i.material-icons.info{background-image:   url('../img/system/icon/info.svg');}
i.material-icons.internet{background-image:   url('../img/system/icon/internet.svg');}
i.material-icons.key{background-image:   url('../img/system/icon/key.svg');}
i.material-icons.lamp{background-image:   url('../img/system/icon/lamp.svg');}
i.material-icons.layers{background-image:   url('../img/system/icon/layers.svg');}
i.material-icons.layers-1{background-image:   url('../img/system/icon/layers-1.svg');}
i.material-icons.like{background-image:   url('../img/system/icon/like.svg');}
i.material-icons.like-1{background-image:   url('../img/system/icon/like-1.svg');}
i.material-icons.like-2{background-image:   url('../img/system/icon/like-2.svg');}
i.material-icons.link{background-image:   url('../img/system/icon/link.svg');}
i.material-icons.list{background-image:   url('../img/system/icon/list.svg');}
i.material-icons.list-1{background-image:   url('../img/system/icon/list-1.svg');}
i.material-icons.lock{background-image:   url('../img/system/icon/lock.svg');}
i.material-icons.lock-1{background-image:   url('../img/system/icon/lock-1.svg');}
i.material-icons.lock-2{background-image:   url('../img/system/icon/lock-2.svg');}
i.material-icons.lock-3{background-image:   url('../img/system/icon/lock-3.svg');}
i.material-icons.lock-4{background-image:   url('../img/system/icon/lock-4.svg');}
i.material-icons.lock-5{background-image:   url('../img/system/icon/lock-5.svg');}
i.material-icons.lock-6{background-image:   url('../img/system/icon/lock-6.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.null{background-image:   url('../img/system/icon/null.svg');}
i.material-icons.star{background-image:   url('../img/system/icon/star.svg');}
