<h3 class="center">Card o Tarjetas</h3>
<div class="card card-list bd-purple-l">
<p class="title">Abaut</p>
<span class="content">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.
  Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor
  (N. del T. persona que se dedica a la imprenta) desconocido usó una galería
  de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobr
</span>
</div>

<div class="card card-list bd-purple-l">
  <p class="title">Contactos</p>

  <div class="avatar-cont orange">
    <div class="avatar-small">
      <img src="img/yuna.jpg">
    </div>
    <div class="avatar-state purple"></div>
  </div>

  <div class="avatar-cont orange">
    <div class="avatar-small">
      <img src="img/yuna.jpg">
    </div>
    <div class="avatar-state blue"></div>
  </div>

  <div class="avatar-cont orange">
    <div class="avatar-small">
      <img src="img/yuna.jpg">
    </div>
    <div class="avatar-icon purple"></div>
  </div>

  <div class="avatar-cont orange">
    <div class="avatar-small">
      <img src="img/yuna.jpg">
    </div>
    <div class="avatar-icon purple"></div>
  </div>

</div>

<div class="container">
  <div class="row">
    <div class="col s12 m6">

      <div class="card card-article">
        <div class="card-image">
          <img src="img/sample-1.jpg">
        </div>
        <div class="card-avatar white">
          <img src="img/yuna.jpg">
        </div>
        <div class="card-content">
          <p class="title center">Yuna Laren</p>
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>

    </div>
    <div class="col s12 m6">

      <div class="card card-article">
        <div class="card-image">
          <div class="card-date white-text purple">
            <span >50%</span>
          </div>
          <img src="img/sample-1.jpg">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p class="title center">Yuna Laren</p>
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col s12 m6">

      <div class="card card-user">
        <div class="card-image">

        </div>
        <div class="card-avatar white">
          <img src="img/yuna.jpg">
        </div>
        <span class="title center white-text">Yuna Laren</span>
        <span class="sub-title center white-text">Aescritor</span>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action bd-purple-b">
          <a href="#">This is a link</a>
        </div>
      </div>

    </div>

    <div class="col s12 m6">
      <div class="card card-item">
        <div class="card-header">
          <div class="card-avatar white">
            <img src="img/yuna.jpg">
          </div>
          <div class="card-info">
            <p class="title">Yuna Laren</p>
            <span class="sub-title grey-text">Aescritor</span>
          </div>
        </div>
        <div class="card-image">
          <img src="img/sample-1.jpg">
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action bd-purple-b">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>

    <div class="col s12 m6">
      <div class="card card-user">
        <div class="card-header">
          <a href="#!" class="header-title left purple-text">Title</a>
          <a href="#!" class="circle waves-effect waves-light right purple"><i class="material-icons">more_vert</i></a>
        </div>
        <div class="card-image"></div>
        <div class="card-avatar white">
          <img src="img/yuna.jpg">
        </div>
        <span class="title center white-text">Yuna Laren</span>
        <span class="sub-title center white-text">Aescritor</span>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action bd-purple-b">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>
</div>
