<div class="container">
  <div class="row">

  </div>
  <div class="row">
    <div class="chip">
      Inicio
      <a href="#/"><i class="material-icons">send</i></a>
    </div>
    <div class="chip">
      Lista
      <a href="#/lists"><i class="material-icons">send</i></a>
    </div>
    <div class="chip">
      Cartas
      <a href="#/cards"><i class="material-icons">send</i></a>
    </div>
    <div class="chip">
      Botones
      <a href="#/button"><i class="material-icons">send</i></a>
    </div>
    <div class="chip">
      Navegador
      <a href="#/navs"><i class="material-icons">send</i></a>
    </div>
    <div class="chip">
      Form
      <a href="#/form"><i class="material-icons">send</i></a>
    </div>
    <div class="chip">
      Search
      <a href="#/search"><i class="material-icons">send</i></a>
    </div>
    <div class="chip">
      Portafolio
      <a href="#/portfolio"><i class="material-icons">send</i></a>
    </div>
    <div class="chip">
      CV
      <a href="#/cv"><i class="material-icons">send</i></a>
    </div>
  </div>
</div>
