<div class="container">
  <ul class="collection with-header">
    <li class="collection-header"><h4>First Names</h4></li>
    <li class="collection-item">Alvin</li>
    <li class="collection-item">Alvin</li>
    <li class="collection-item">Alvin</li>
    <li class="collection-item">Alvin</li>
  </ul>

  <ul class="collection with-header">
    <li class="collection-header"><h4>Button circles</h4></li>
    <li class="collection-item"><div>Alvin<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
    <li class="collection-item"><div>Alvin<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
    <li class="collection-item"><div>Alvin<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
    <li class="collection-item"><div>Alvin<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
  </ul>

  <ul class="collection tab-social white">
    <li class="collection-tab">
      <img src="img/system/icon/star.svg" alt="">
      <span>10k</span>
    </li>
    <li class="collection-tab">
      <img src="img/system/icon/like.svg" alt="">
      <span>10k</span>
    </li>
    <li class="collection-tab">
      <img src="img/system/icon/view.svg" alt="">
      <span>10k</span>
    </li>
  </ul>

  <ul class="collection">
    <li class="collection-item avatar">
      <i class="material-icons circle folder" icon="folder"></i>
      <p class="title">Title</p>
      <p class="sub-title">First Line <p>

      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
  </ul>
  <ul class="collection">
    <li class="collection-item ">
      <i class="material-icons circle add" icon="folder"></i>
      <i class="material-icons circle add-1" icon="folder"></i>
      <i class="material-icons circle add-2" icon="folder"></i>
      <i class="material-icons circle agenda" icon="folder"></i>
      <i class="material-icons circle alarm" icon="folder"></i>
      <i class="material-icons circle alarm-1" icon="folder"></i>
      <i class="material-icons circle alarm-clock" icon="folder"></i>
      <i class="material-icons circle alarm-clock-1" icon="folder"></i>
    </li>
    <li class="collection-item ">
      <i class="material-icons circle albums" icon="folder"></i>
      <i class="material-icons circle app" icon="folder"></i>
      <i class="material-icons circle app-plus" icon="folder"></i>
      <i class="material-icons circle archive" icon="folder"></i>
      <i class="material-icons circle archive-1" icon="folder"></i>
      <i class="material-icons circle archive-2" icon="folder"></i>
      <i class="material-icons circle archive-3" icon="folder"></i>
      <i class="material-icons circle attachment" icon="folder"></i>
      <i class="material-icons circle back" icon="folder"></i>

    </li>
    <li class="collection-item ">
      <i class="material-icons circle battery" icon="folder"></i>
      <i class="material-icons circle battery-1" icon="folder"></i>
      <i class="material-icons circle battery-2" icon="folder"></i>
      <i class="material-icons circle battery-3" icon="folder"></i>
      <i class="material-icons circle battery-4" icon="folder"></i>
      <i class="material-icons circle battery-5" icon="folder"></i>
      <i class="material-icons circle battery-6" icon="folder"></i>
      <i class="material-icons circle battery-7" icon="folder"></i>
      <i class="material-icons circle battery-8" icon="folder"></i>
      <i class="material-icons circle battery-9" icon="folder"></i>
    </li>
    <li class="collection-item ">
      <i class="material-icons circle binoculars" icon="folder"></i>
      <i class="material-icons circle blueprint" icon="folder"></i>
      <i class="material-icons circle bluetooth" icon="folder"></i>
      <i class="material-icons circle bluetooth-1" icon="folder"></i>
      <i class="material-icons circle bookmark" icon="folder"></i>
      <i class="material-icons circle bookmark-1" icon="folder"></i>
      <i class="material-icons circle briefcase" icon="folder"></i>
      <i class="material-icons circle broken-link" icon="folder"></i>
      <i class="material-icons circle calculator" icon="folder"></i>
      <i class="material-icons circle calculator-1" icon="folder"></i>
    </li>
    <li class="collection-item ">
      <i class="material-icons circle calendar" icon="folder"></i>
      <i class="material-icons circle calendar-1" icon="folder"></i>
      <i class="material-icons circle calendar-2" icon="folder"></i>
      <i class="material-icons circle calendar-3" icon="folder"></i>
      <i class="material-icons circle calendar-4" icon="folder"></i>
      <i class="material-icons circle calendar-5" icon="folder"></i>
      <i class="material-icons circle calendar-6" icon="folder"></i>
      <i class="material-icons circle checked" icon="folder"></i>
      <i class="material-icons circle checked-1" icon="folder"></i>
      <i class="material-icons circle clock" icon="folder"></i>
    </li>
    <li class="collection-item ">
      <i class="material-icons circle clock-1" icon="folder"></i>
      <i class="material-icons circle close" icon="folder"></i>
      <i class="material-icons circle cloud" icon="folder"></i>
      <i class="material-icons circle cloud-downloader" icon="folder"></i>
      <i class="material-icons circle cloud-up-down" icon="folder"></i>
      <i class="material-icons circle cloud-uploader" icon="folder"></i>
      <i class="material-icons circle cloud-update" icon="folder"></i>
      <i class="material-icons circle cloud-search" icon="folder"></i>
      <i class="material-icons circle cloud-alert" icon="folder"></i>
      <i class="material-icons circle command" icon="folder"></i>
    </li>
    <li class="collection-item ">
      <i class="material-icons circle clock-1" icon="folder"></i>
      <i class="material-icons circle compact-disc" icon="folder"></i>
      <i class="material-icons circle compact-disc-1" icon="folder"></i>
      <i class="material-icons circle compact-disc-2" icon="folder"></i>
      <i class="material-icons circle compass" icon="folder"></i>
      <i class="material-icons circle compose" icon="folder"></i>
      <i class="material-icons circle controls" icon="folder"></i>
      <i class="material-icons circle controls-1" icon="folder"></i>
      <i class="material-icons circle controls-2" icon="folder"></i>
      <i class="material-icons circle controls-3" icon="folder"></i>
    </li>
    <li class="collection-item ">
      <i class="material-icons circle controls-4" icon="folder"></i>
      <i class="material-icons circle controls-5" icon="folder"></i>
      <i class="material-icons circle controls-6" icon="folder"></i>
      <i class="material-icons circle controls-7" icon="folder"></i>
      <i class="material-icons circle controls-8" icon="folder"></i>
      <i class="material-icons circle controls-9" icon="folder"></i>
      <i class="material-icons circle database" icon="folder"></i>
      <i class="material-icons circle database-1" icon="folder"></i>
      <i class="material-icons circle database-2" icon="folder"></i>
      <i class="material-icons circle database-3" icon="folder"></i>
    </li>
  </ul>
  <div class="collection">
    <a href="#!" class="collection-item">Alvin</a>
    <a href="#!" class="collection-item active">Alvin</a>
    <a href="#!" class="collection-item">Alvin</a>
    <a href="#!" class="collection-item">Alvin</a>
  </div>

  <ul class="collection">
    <li class="collection-item">Alvin</li>
    <li class="collection-item">Alvin</li>
    <li class="collection-item">Alvin</li>
    <li class="collection-item">Alvin</li>
  </ul>

  <ul class="collection list-small">
    <li class="collection-item">Alvin</li>
  </ul>

  <ul class="collection list-small">
    <a class="collection-item">Alvin</a>
  </ul>
  <h3>LISTA PEQUEÑA</h3>
  <ul class="collection person-small">
    <li class="collection-item avatar bd-purple-b">
      <img src="img/yuna.jpg" alt="" class="circle">
      <a href="#!" class="grey-text">
        <span class="title">Title</span>
      </a>
    </li>
  </ul>
  <h3>LISTA MEDIANA</h3>
  <ul class="collection person-medium">
    <li class="collection-item avatar ">
      <img src="img/yuna.jpg" alt="" class="circle">
      <a href="#!" class="purple-text">
        <p class="title">Title</p>
        <span class="grey-text"><i class="material-icons">grade</i> 100</span>
        <span class="grey-text"><i class="material-icons">grade</i>20</span>
      </a>
    </li>
    <li class="collection-item avatar">
      <img src="img/yuna.jpg" alt="" class="circle">
      <a href="#!" class="grey-text">
        <p class="title">Title</p>
      </a>
    </li>
  </ul>
</div>
